.click{
    color: #fff;
    background: $primary;
    text-decoration: none;
    padding: .65rem 1.25rem;
    display: inline-block;
    border-radius: $border_radius;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover{
        box-shadow: 0 0 .5rem darken($primary,25);
    }

    &.secondary{
        background: #fff;
        color: $primary;
    }

    &.tertiary{
        background: transparent;
        color: lighten($primary,7);
        border: 2px solid lighten($primary,7);
    }

    &.inactive{
        opacity: .5;
    }
}