
.form{
    width: 100%;
    padding: 2rem 1.5rem;
    background: darken(rgba(10, 16, 41, 0.5),2);
    border-radius: .75rem;


    .label{
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
        padding-bottom: 1.5rem;
        color: $primary;
    }

    form{
        .flex{
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }
        .control{
            display: flex;
            flex-direction: column-reverse;
            gap: .3rem;
            padding-bottom: 1rem;
            width: 100%;

            input,textarea{
                width: 100%;
                border: 1px solid rgb(92, 92, 92);
                background: darken(rgb(10, 16, 41),2);
                outline: none;
                padding: .65rem;
                border-radius: $border_radius;
                // background: transparent;
                color: $text;

                &:focus{
                    border-color: $primary;

                    &+label{
                        color: $primary;
                    }
                }
            }

            textarea{
                resize: none;
                height: 5rem;
            }

            small{
                color: rgb(224, 104, 71);
                font-size: .75rem;
                height: .5rem;
                text-align: right;
                font-style: italic;
            }

            label{
                font-size: .9rem;
                color: grey;
            }
        }

        .redirect{
            padding: 1.5rem 0;
            color: $text;

            a{
                color: $primary
            }
        }

        .click{
            @extend .center;
        }
    }
}