.template1 {
  position: relative;
  @extend .center;
  background: #fff;
  z-index: 11;

  .heading {
    display: flex;
    padding: 1.5rem;
    gap: 2rem;
    justify-content: center;
    background: rgb(68, 149, 160);
    align-items: flex-end;
    color: #fff;
    font-size: 1.45rem;
    text-align: center;
    text-transform: uppercase;

    .icon {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      flex: none;
      position: relative;
    }
  }

  .details {
    padding: 1rem;
    & > .flex {
      display: flex;
      gap: 2rem;
      justify-content: center;
      margin: 3rem 0;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .icon {
        width: 170px;
        height: 170px;
        flex: none;
        // background: lightgrey;
        position: relative;
      }

      .flex {
        display: flex;
        gap: 2rem;

        span {
          font-size: 1.2rem;
          color: #fff;
          background-color: rgb(68, 149, 160);
          flex: none;
          height: max-content;
          padding: 0.8rem;
          border-radius: 0 0 1rem 1rem;
        }
        .detail {
          h2 {
            color: rgb(68, 149, 160);
            text-transform: uppercase;
            padding-bottom: 0.5rem;
          }

          p {
            color: gray;
            font-size: 0.9rem;
            max-width: 450px;
          }
        }
      }
    }
  }
}

.template2 {
  position: relative;
  // overflow: hidden;
  @extend .center;
  background: darken($secondary, 2);
  z-index: 11;
  // top: 6rem;
  padding-top: 2.5rem;

  .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    position: absolute;

    &.circle1 {
      top: -110px;
      left: -110px;
      img {
        transform: scale(0.8);
      }
    }

    &.circle2 {
      top: -110px;
      right: -110px;
      img {
        transform: scale(0.8);
      }
    }

    &.circle3 {
      bottom: -200px;
      left: -200px;
    }

    &.circle4 {
      bottom: -200px;
      right: -200px;
    }
  }

  .heading {
    padding: 1rem;
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;

    span {
      color: rgb(214, 145, 15);
      font-size: 2.5rem;
    }
  }

  .details {
    padding: 1rem;
    & > .flex {
      display: flex;
      gap: 2rem;
      justify-content: center;
      margin: 2rem 0;
      align-items: center;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .icon {
        width: 180px;
        height: 180px;
        flex: none;
        background: lightgrey;
        border-radius: 50%;
        position: relative;
      }

      .detail {
        font-style: italic;
        h2 {
          color: rgb(214, 145, 15);
          text-transform: capitalize;
          padding-bottom: 0.5rem;
        }

        p {
          color: #fff;
          font-size: 0.8rem;
          max-width: 500px;
        }
      }
    }
  }
}

.template3 {
  position: relative;
  // overflow: hidden;
  @extend .center;
  background: lighten($secondary, 15);
  z-index: 11;
  // top: 6rem;
  padding-top: 1.5rem;

  .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
  }

  .heading {
    padding: 1rem 0;
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;

    span {
      font-size: 3.5rem;
      background: #fff;
      display: block;
      color: $secondary;
      padding: 0.3em 0;
      margin-top: 0.75rem;
    }
  }

  .details {
    padding: 1rem;
    & > .flex {
      display: flex;
      gap: 2rem;
      justify-content: center;
      margin: 2rem 0;
      align-items: center;
      width: fit-content;
      background: linear-gradient(
        lighten($secondary, 50),
        lighten($secondary, 15)
      );
      @extend .center;
      padding: 0 1rem;
      position: relative;

      .icon {
        position: relative;
        background: white;
        width: 170px;
        height: 170px;
        flex: none;
        border-radius: 50%;
        border: 6px solid $secondary;
        box-sizing: content-box;
        transform: scale(1.1);
        transform-origin: center;
        overflow: hidden;

        img {
          transform: scale(0.65);
        }
      }
      .hider {
        position: absolute;
        width: 100px;
        height: 100%;
        background: lighten($secondary, 15);
        top: 0;
        left: -1.2rem;
        transform: scale(1.1);
        z-index: -1;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        .hider {
          left: auto;
          right: -1.2rem;
        }
      }

      .detail {
        h2 {
          text-transform: capitalize;
          padding-bottom: 0.5rem;
          text-transform: uppercase;
          color: #fff;
        }

        p {
          color: #fff;
          font-size: 0.8rem;
          max-width: 600px;
        }
      }
    }
  }
}

.template4 {
  position: relative;
  // overflow: hidden;
  @extend .center;
  background: #fff;
  z-index: 11;
  // top: 6rem;
  padding-top: 1.5rem;

  .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
  }

  .heading {
    padding: 1rem 0;
    color: orange;
    font-style: italic;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 0.9;

    span {
      font-size: 2.7rem;
      display: block;
      color: rgb(73, 75, 175);
      margin-top: 0.75rem;
      font-style: normal;
    }
  }

  .details {
    padding: 1rem;
    & > .flex {
      display: flex;
      flex-direction: row-reverse;
      gap: 2rem;
      justify-content: center;
      margin: 3rem 0;
      align-items: center;
      background: rgb(236, 236, 236);
      @extend .center;
      padding: 0 1rem;
      position: relative;

      .icon {
        position: relative;
        width: 170px;
        height: 170px;
        flex: none;
        transform: scale(1.2);
        transform-origin: center;
        position: relative;
      }
      .hider,
      .hider2 {
        position: absolute;
        width: 80px;
        height: 100%;
        background: rgb(73, 75, 175);
        top: 0;
        left: -1.2rem;
        z-index: -1;
      }

      .hider2 {
        transform: scale(1.1);
        width: 70px;
        left: auto;
        background: #fff;
        right: 0;
      }

      &:nth-child(even) {
        flex-direction: row;

        .hider {
          left: auto;
          right: -1.2rem;
        }

        .hider2 {
          right: auto;
          left: 0;
        }
      }

      .detail {
        h2 {
          text-transform: capitalize;
          padding-bottom: 0.5rem;
          text-transform: uppercase;
          color: gray;
          font-size: 1.3rem;
        }

        p {
          color: rgb(121, 121, 121);
          font-size: 0.8rem;
          max-width: 600px;
        }
      }
    }
  }
}

.template5 {
  position: relative;
  // overflow: hidden;
  @extend .center;
  background: linear-gradient(90deg,rgb(146, 79, 209),15%,rgb(92, 79, 209),85%,rgb(146, 79, 209));
  z-index: 11;
  // top: 6rem;
  padding-top: 1.5rem;
  padding-bottom: 4rem;

  .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
  }

  .heading {
    padding: 1.7rem 0 1rem;
    color: #fff;
    font-size: 1.05rem;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;

    span {
      font-size: 2.1rem;
      display: block;
      padding: 0.3em 0;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    
    
    gap: 0;
    & > .flex {
      &:nth-child(even){
        align-self: flex-end;
      }
      display: flex;
      gap: 2rem;
      justify-content: flex-start;
      margin: 1.2rem 0;
      align-items: center;
      width: fit-content;
      background:  linear-gradient(270deg,rgba(92, 79, 209, 0.603),rgba(146, 79, 209, 0.575));
      backdrop-filter: blur(10px);
      // @extend .center;
      padding: .5rem 0;
      position: relative;
      border-top-left-radius: 5rem;
      border-bottom-left-radius: 5rem;

      &:nth-child(odd) {
        flex-direction: row-reverse;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
        background:  linear-gradient(90deg,rgba(92, 79, 209, 0.603),rgba(146, 79, 209, 0.575));
      }

      .icon {
        position: relative;
        width: 190px;
        height: 170px;
        flex: none;
        border-radius: 50%;
        box-sizing: content-box;
        transform-origin: center;
        transform: scale(1.2);
        img{
          transform: scale(.9);
        }
      }

      .detail {
        h2 {
          text-transform: capitalize;
          padding-bottom: 0.5rem;
          text-transform: uppercase;
          color: #fff;
          padding: 0 2rem;
        }

        p {
          color: #fff;
          font-size: 0.8rem;
          max-width: 500px;
          padding: 0 2rem;
        }
      }
    }
  }
}
