.template1 {
  position: relative;
  @extend .center;
  background: #fff;
  z-index: 11;


  .heading {
    display: flex;
    padding: 1.5rem;
    gap: 2rem;
    justify-content: center;
    background: rgb(68, 149, 160);
    align-items: flex-end;
    color: #fff;
    font-size: 1.45rem;
    text-align: center;

    .icon {
      width: 120px;
      height: 120px;
      background: lightgrey;
      border-radius: 50%;
      flex: none;
    }
  }

  .details {
    padding:  1rem;
    & > .flex {
      display: flex;
      gap: 2rem;
      justify-content: center;
      margin: 3rem 0;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .icon {
        width: 170px;
        height: 170px;
        flex: none;
        background: lightgrey;
      }

      .flex {
        display: flex;
        gap: 2rem;

        span {
          font-size: 1.2rem;
          color: #fff;
          background-color: rgb(68, 149, 160);
          flex: none;
          height: max-content;
          padding: 0.8rem;
          border-radius: 0 0 1rem 1rem;
        }
        .detail {
          h2 {
            color: rgb(68, 149, 160);
            text-transform: uppercase;
            padding-bottom: 0.5rem;
          }

          p {
            color: gray;
            font-size: 0.9rem;
            max-width: 450px;
          }
        }
      }
    }
  }
}

.template2 {
  position: relative;
  // overflow: hidden;
  @extend .center;
  background: darken($secondary, 2);
  z-index: 11;
  // top: 6rem;
  padding-top: 2.5rem;


  .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    

    &.circle1{
        top: -150px;
        left: -150px;
    }
    

    &.circle2{
        top: -150px;
        right: -150px;
    }
    

    &.circle3{
        bottom: -200px;
        left: -200px;
    }
    

    &.circle4{
        bottom: -200px;
        right: -200px;
    }
  }

  .heading {
    padding: 1rem;
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;

    span {
      color: rgb(214, 145, 15);
      font-size: 2.5rem;
    }
  }

  .details {
    padding: 1rem;
    & > .flex {
      display: flex;
      gap: 2rem;
      justify-content: center;
      margin: 2rem 0;
      align-items: center;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .icon {
        width: 180px;
        height: 180px;
        flex: none;
        background: lightgrey;
        border-radius: 50%;
      }

      .detail {
        font-style: italic;
        h2 {
            color: rgb(214, 145, 15);
          text-transform: capitalize;
          padding-bottom: 0.5rem;
        }

        p {
          color: #fff;
          font-size: 0.8rem;
          max-width: 500px;
        }
      }
    }
  }
}
