#homepage {
  // position: relative;
  // overflow-x: hidden;

  // &>.svg{
  //   position: absolute;
  //   width: 1500px;
  //   height: 1500px;
  //   top: -27rem;
  //   right: -25rem;
  //   // background: $primary;
  //   opacity: .0.8;
  // }
  background: rgb(10, 16, 41);

  #hero {
    // background: lightgrey;
    padding: 4rem 1rem 9rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    // background: rgba(225,225,225);
    // backdrop-filter: blur(0.8);
    @extend.center;
    overflow-x: hidden;

    .deco {
      position: fixed;
      width: 230px;
      height: 230px;
      z-index: -1;
      background: darken($primary, 15);
      // @extend.center;
      border-radius: 50%;
      opacity: 0.85;
      filter: blur(20px);
      left: 5vw;
      bottom: 37vh;
      display: none;
    }

    .intro {
      padding: 4rem 2rem;
      text-align: center;
      // max-width: 800px;
      width: 100%;

      h1 {
        font-size: 3.9rem;
        color: $primary;
        color: #fff;
        font-weight: 800;
        max-width: 900px;
        @extend .center;
      }

      p {
        font-size: 1.1rem;
        padding: 1.5rem 1.3rem;
        line-height: 140%;
        color: $text;
        max-width: 1100px;
        @extend .center;
      }

      .socialstext {
        padding: 1.25rem 0 1rem;
        font-size: 0.85rem;
        color: lighten($primary, 5);
        font-weight: 600;
      }

      .socials {
        display: inline-block;
        width: min-content;
        margin: 1.5rem 0;
        font-size: 1.61rem;
        position: relative;
        display: flex;
        gap: 0.55rem;
        @extend .center;
        color: #c2c2c2 !important;
        // justify-content: center;
      }
    }

    .image {
      // background: lightgrey;
      width: 50%;
      height: 550px;
      position: relative;

      img {
        object-fit: cover;
      }
    }
  }

  #services {
    background: lighten(rgb(10, 16, 41), 1);

    .servicegrid {
      padding: 5rem 0;
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 400px));
      gap: 1rem;
      justify-content: center;

      .service {
        // background: #fff;
        border-radius: $border_radius;
        padding: 1rem;

        .image {
          height: 300px;
          // background: lightgrey;
          position: relative;
          max-width: 400px;
          @extend .center;

          img {
            object-fit: cover;
          }
        }

        .details {
          text-align: center;
          .servicename {
            color: $primary;
            font-weight: 600;
            padding: 0.75rem 0;
          }

          .description {
            font-size: 0.9rem;
            line-height: 160%;
            color: $text;
          }
        }
      }
    }
  }

  #about {
    .aboutflex {
      display: flex;
      gap: 3rem;
      align-items: center;
      line-height: 190%;
      padding: 5rem 0;

      & > div {
        width: 50%;
      }

      .abouttext {
        font-size: 1.1rem;
        color: $text;
      }

      .image {
        height: 500px;
        background: lightgray;
        position: relative;

        img {
          object-fit: cover;
        }
      }
    }
  }

  #testimonials {
    background: lighten(rgb(10, 16, 41), 1);

    .testimonialsflex {
      padding: 5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;

      .testimonial {
        padding: 2rem;
        background: #fff;
        background: darken(rgb(10, 16, 41), 0);
        border-radius: $border_radius;
        // border-bottom: 5px solid $primary;
        // display: flex;
        // flex-direction: column-reverse;

        .name {
          color: $primary;
          padding: 0.5rem 0;
          font-weight: 600;
        }

        .comment {
          color: rgb(66, 66, 66);
          line-height: 140%;
          font-size: 0.93rem;
          color: grey;
          padding-bottom: 1rem;
        }
      }
    }
  }

  #contact {
    .contactflex {
      padding: 5rem 0;
      display: flex;
      gap: 3rem;

      & > div {
        width: 50%;
      }

      .image {
        height: 500px;
        background: lightgrey;
        position: relative;

        img {
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  #homepage {
    #hero {
      padding: 6rem 1rem 3rem;
      flex-direction: column-reverse;
      gap: 1rem;

      & > div {
        width: 100% !important;
        gap: 2rem;
        padding-top: 1rem !important;
      }

      .intro {
        padding: 3rem 0;

        h1 {
          font-size: 2.65rem;
          padding: 0 2rem;
        }

        p {
          font-size: 0.9rem;
        }
      }

      .image {
        height: 400px;
      }
    }

    #about {
      .aboutflex {
        flex-direction: column-reverse;

        & > div {
          width: 100%;
          gap: 2rem;
        }
      }
    }

    #contact {
      .contactflex {
        flex-direction: column;

        & > div {
          width: 100%;
          gap: 2rem;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  #services {
    .servicegrid {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }

  #testimonials {
    .testimonialsflex {
      flex-direction: column !important;
    }
  }
}

@media (max-width: 550px) {
  #homepage {
    #hero {
      .intro {
        h1 {
          padding: 0 0.5rem;
          font-size: 1.95rem;
        }
      }
      .image {
        height: 320px;
      }
    }

    #services {
      .servicegrid {
        .service {
          .image {
            transform: translateX(-50%) scale(0.8);
            transform-origin: center;
            @extend .center;
          }
        }
      }
    }
  }
}
